name: Real Developer Activity

permissions:
  contents: write

on:
  schedule:
    - cron: "0 6 * * *"   # hər gün 10:00 AZ
  workflow_dispatch:

jobs:
  auto-commit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate realistic commits
        run: |
          git config --global user.name "eyyubgadirov"
          git config --global user.email "kadirofff5@outlook.com"

          DAY=$(date +%u)

          if [ "$DAY" -le 5 ]; then
            COUNT=$(( (RANDOM % 4) + 3 ))   # 3-6 commit (weekdays)
          elif [ "$DAY" -eq 6 ]; then
            COUNT=$(( (RANDOM % 3) + 1 ))   # 1-3 commit (Saturday)
          else
            COUNT=$(( RANDOM % 2 ))         # 0-1 commit (Sunday)
          fi

          echo "Today commit count: $COUNT"

          for ((i=1;i<=COUNT;i++))
          do
            FILE="file_$((RANDOM % 3)).txt"
            echo "Update $i - $(date +%s)" >> $FILE

            git add .
            git commit -m "$(shuf -n 1 -e \
              'Refactor service logic' \
              'Fix minor bug' \
              'Improve validation' \
              'Update configuration' \
              'Optimize query' \
              'Add logging' \
              'Cleanup unused code' \
              'Enhance error handling')"

            sleep $(( (RANDOM % 5) + 2 ))
          done

          git push
